@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel:wght@400;500;700&family=Josefin+Sans:wght@300;500&family=Press+Start+2P&family=Roboto:wght@100;300;500;900&family=Shadows+Into+Light&display=swap');

body{
    height:100vh;
    padding:0;
    margin:0;
}


.container {
    height:100vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 2fr 0.1fr;
    justify-content: center;
    opacity: 0;
    transition: 1s ease-in-out;
    display:none; 



}

.showRound{

    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    top:60px;
}



.test{
    width:100%;
    display:flex;
    justify-content: center;
    
}

.winningscreen{
    position:absolute;
    background-color: rgb(36, 49, 168);
    grid-column: 1/-1;
    grid-row:1/-1;
    height:250px;
    width:500px;
    left:50%;
    flex-direction: column;
    align-items: center;
    top:50%;
    transform: translateX(-50%)translateY(-50%)scale(0);
    border-radius: 25px;
    color:white;
    font-family: 'Press Start 2P', cursive;
    display:flex;
    justify-content: center;
    user-select: none;
    border:5px solid white;
   transition: 1s ease-in-out;
   display: none;
    opacity:0;

    
}

.winningscreen h3{
    border-radius: 25px;
    border:2px solid white;
    padding:15px;
    cursor: pointer;
    text-shadow: 0px 0px 3px white;
    transition: 0.25s ease-in-out;
}

.winningscreen h3:hover{
    color:black;
    background-color: white;
    text-shadow: 0px 0px 3px black;
}

.playerturn{
    margin-top: 3rem;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0px 0px 1.5px black;
    font-size:2rem;
    transition:all 0.250s ease-in-out;
    grid-column: 1/-1;
    color:red;
    display:flex;
    transition: 0.5s ease-in-out;
    user-select: none;
    justify-content: center;
}

.header{
    background-color: rgb(36, 49, 168);
    font-family: 'Press Start 2P', cursive;
    color:White;
    text-shadow: 0px 0px 5px white;
    box-shadow: 0px 0px 5px black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display:grid;

    user-select: none;
    grid-column: 1/-1;
    grid-row: 1/1;
    align-items: center;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    
    
    
}

.scoretitle{
    transition: all 0.5s ease-in-out;
    font-family: 'Press Start 2P', cursive;
    color:White;
    text-shadow: 0px 0px 5px black;
    transition: 0.5s ease-in-out;
    grid-column: 1/-1;
    grid-row: 1/-1;
    padding-left:200px;
    justify-self:auto;
    

}

.header h1{
    grid-column: 1/-1;
    grid-row: 1/-1;
    justify-self: center;
}


/* so put that ish on the bottom, then have tic tac toe justify self center and the other on flex-start */

.one, .two {
    transition:1s ease-in-out
}





.players{
    gap:100px;
    background-color: rgb(36, 49, 168);
    display:flex;
    width:500px;
    justify-content: center;
    /* align-items: center; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: 0.5s ease-in-out;
    font-family: 'Press Start 2P', cursive;
    color:White;
    text-shadow: 0px 0px 5px white;
    box-shadow: 0px 0px 5px black;
}



.player{
    transition: 0.5s ease-in-out;
}

#first{
    color:rgb(255, 0, 0);
    transition: 1s ease-in-out ;

}

#second{
    color:blue;

    transition: 1s ease-in-out ;

}

#score{
    transition:1s ease-in-out
}


.squares{
    display:grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows:  repeat(3, 200px);
    gap:20px;
    grid-auto-flow: column;
    justify-content: center;
    

}

.square{
    background-color: rgba(226, 226, 226, 0.397);
    border-radius: 25px;;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.144);
    transition: all 0.3s ease-in-out;
    display:flex;
    justify-content: center;
    align-items: center;

}

svg{
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.square:hover{
    box-shadow: inset 0px 0px 5px black;

}

.intro{
    height:100vh;
    align-items: center;
    display:flex;
    justify-content: center;
    transition:1s ease-in-out;
}

.cover{
    scale: 0;
    opacity: 0;

}

.active{
    scale:1.001;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s ease-in-out;
    font-family: 'Press Start 2P', cursive;
    gap:100px;
    color:white;
    background-color: rgb(36, 49, 168);
    padding:40px;
    border-radius: 25px;
    outline: 5px solid rgb(0, 16, 158);;
    user-select: none;
    box-shadow: 0px 0px 10px 10px black;
}

.intro .welcome{
    background-color: rgb(36, 49, 168);
    padding:40px;
    outline: 5px rgb(255, 255, 255) solid;
    border-radius: 25px;

}

.selections{
    display:flex;
    gap:50px;
    background-color: rgb(36, 49, 168);
    padding:40px;
    border-radius: 25px;
    outline: 5px rgb(255, 255, 255) solid;
}

.select{
    background-color: rgba(84, 99, 233, 0.562);
    border-radius: 25px;
    padding:25px;
    transition:all 0.4s ease-in-out;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 0px 1px 2px white;

}

.select:hover{
    background-color: rgb(7, 7, 7);
    scale: 1.05;
}
